<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mongo Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
</head>
<body>
 
    {{{body}}}
 
</body>
</html>

{{!-- 
handlebars seems to work like this:
this is the main page where all the layouts of the other pages will get applied
the main page is the set layout framework in which all other plages will be displayed over
this includes elements that would otherwise be copy and pasted many times
with handlebars, we can just set the general elements of a webpage and apply certain layouts for certain pages inside the main
home.hlb and saved.hlb each have a certain page value that they listen for
if that page value comes up, then the handlebars page gets applied in main

this is because the routes.js file listens for certain inputs into the web browser, and applies the right handlebars file into the main
according to the proper value
--}}

